.product_details {
    display: flex;
    margin-top: 75px;
    font-family: var(--font-poppins);

    .preview_image {
        height: 350px;
        width: 500px;
        border-radius: 20px;
        img {
            height: 300px;
            width: 450px;
            border-radius: 20px;
        }
    }

    .image_thumbline {
        display: flex;
        align-items: center;
        width: 450px;

        div {
            img {
                height: 100px;
                width: 135px;
                margin: 5px;
            }
        }
    }

    .Product_info {
        p {
            color: var(--color-gray);
            font-size: 16px;
            margin-top: 5px;
        }

        .stock_counter {
            display: flex;
            gap: 10px;

            span {
                padding: 5px 10px;
                border-radius: 50%;
                border: 2px solid var(--color-gray);
                &:nth-child(1) {
                    &:hover {
                        background-color: rgb(182, 9, 9);
                        border: 2px solid maroon;
                        color: white;
                    }
                }
                &:nth-child(3) {
                    &:hover {
                        background-color: rgb(12, 146, 12);
                        border: 2px solid green;
                        color: white;
                    }
                }
            }

            input {
                width: 10%;
                padding: 5px 10px;
                border-radius: 20px;
                outline: 2px solid green;
                border: none;
                text-align: center;
            }
        }
        .button {
            button {
                padding: 10px 20px;
                border-radius: 25px;
                margin-top: 10px;

                &:nth-child(1) {
                    border: 2px solid black;
                    background-color: black;
                    color: white;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: rgb(24, 21, 21);
                        border: 2px solid rgb(24, 21, 21);
                    }
                }
                &:nth-child(2) {
                    margin-left: 10px;
                    border: 2px solid green;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: rgb(24, 21, 21);
                        border: 2px solid rgb(24, 21, 21);
                        color: white;
                    }
                }
            }
        }
    }
}
