.confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: var(--font-poppins);

    .order_summary {
        background-color: aliceblue;
        padding: 1.5rem;
        border-radius: 10px;

        button {
            background-color: rgb(250, 156, 35);
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 20px;
            color: #fff;
        }
    }
}
