.spinner {
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product {
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 20px;
    font-family: var(--font-poppins);

    div {
        text-align: center;
        img {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
    }
}
